.containerB {
    padding: 50px;
}

.panel-heading {
    background-color: rgba(10, 99, 10, .5)
}

body {
    background-image: url("../images/train.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

jumbotron {
    height: 76px;
    padding: 10px;
}

