.containerB {
    padding: 50px;
}

.panel-body {
    background-color: rgba(141, 106, 8, 0.5);
    border-style: inset;
    border-color: rgb(199, 194, 194);
}

body {
    background-image: url("../images/train.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    background-color:rgb(195, 228, 196);
    border-style: inset;
    border-color: rgb(199, 194, 194);
    text-align: center;
}

.form-control {
    background-color: rgb(212, 209, 159);
    border-style: outset;
}
